# Byte-compiled / optimized / DLL files
scripts/__pycache__/*
*.py[cod]
*$py.class

# Local environment
.DS_Store
.vscode

# Project
output-data/ground-truth/*
output-data/night-lights/*
input-data/ground-truth/*
input-data/night-lights/*
*.pyc
nightlights_processing.egg-info
venv